body { 
    background-color: rgb(72, 72, 80);
    background-image: url("assets/cat.jpg");
    background-size: cover;
}

.background {
    opacity: 0.2;
}

.button {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}